apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


namePrefix: dev-

commonLabels:
  environment: dev

replicas:
- count: 1
  name: url-shortener

patchesStrategicMerge:
- deployment.yaml
- ingress.yaml

configMapGenerator:
- behavior: merge
  literals:
  - database_host=dev-postgres
  - redis_host=dev-redis
  - database_url="postgresql://user:password@dev-postgres:5432/urldb"
  name: url-shortener-config

# Lab 6.1 - Resource quotas for dev
resources:
- ../../base
- resource-quota.yaml
images:
- name: analytics-worker
  newName: 211125541816.dkr.ecr.us-west-2.amazonaws.com/analytics-worker
  newTag: 945c8bbd12ab403327be89c28ff63e9ac709e4fc
- name: cleanup-worker
  newName: 211125541816.dkr.ecr.us-west-2.amazonaws.com/cleanup-worker
  newTag: 945c8bbd12ab403327be89c28ff63e9ac709e4fc
- name: migrations-worker
  newName: 211125541816.dkr.ecr.us-west-2.amazonaws.com/migrations-worker
  newTag: 945c8bbd12ab403327be89c28ff63e9ac709e4fc
- name: schema-init-worker
  newName: 211125541816.dkr.ecr.us-west-2.amazonaws.com/schema-init-worker
  newTag: 945c8bbd12ab403327be89c28ff63e9ac709e4fc
- name: url-shortener
  newName: 211125541816.dkr.ecr.us-west-2.amazonaws.com/url-shortener
  newTag: 945c8bbd12ab403327be89c28ff63e9ac709e4fc
- name: url-shortener-frontend
  newName: 211125541816.dkr.ecr.us-west-2.amazonaws.com/url-shortener-frontend
  newTag: 945c8bbd12ab403327be89c28ff63e9ac709e4fc
