apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: dev

replicas:
  - name: url-shortener
    count: 1

patchesStrategicMerge:
  - deployment.yaml

configMapGenerator:
  - name: url-shortener-config
    behavior: merge
    literals:
      - database_url="postgresql://user:password@postgres-dev:5432/urldb"
