apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


namePrefix: dev-

commonLabels:
  environment: dev

replicas:
- count: 1
  name: url-shortener

patchesStrategicMerge:
- deployment.yaml

configMapGenerator:
- behavior: merge
  literals:
  - database_host=dev-postgres
  - redis_host=dev-redis
  - database_url="postgresql://user:password@dev-postgres:5432/urldb"
  name: url-shortener-config
resources:
- ../../base
images:
- name: analytics-worker
  newName: 211125541816.dkr.ecr.us-west-2.amazonaws.com/analytics-worker
  newTag: f6638d972ccb242e4a8036e43ad13f1158fa4899
- name: cleanup-worker
  newName: 211125541816.dkr.ecr.us-west-2.amazonaws.com/cleanup-worker
  newTag: f6638d972ccb242e4a8036e43ad13f1158fa4899
- name: migrations-worker
  newName: 211125541816.dkr.ecr.us-west-2.amazonaws.com/migrations-worker
  newTag: f6638d972ccb242e4a8036e43ad13f1158fa4899
- name: schema-init-worker
  newName: 211125541816.dkr.ecr.us-west-2.amazonaws.com/schema-init-worker
  newTag: f6638d972ccb242e4a8036e43ad13f1158fa4899
- name: url-shortener
  newName: 211125541816.dkr.ecr.us-west-2.amazonaws.com/url-shortener
  newTag: f6638d972ccb242e4a8036e43ad13f1158fa4899
